*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}


.bg {
    background-color: #8cebe5;
    overflow: hidden;    
}


.container {
    width: 980px;
    margin: auto;
    
}

.logo {
    float: left;
}
.logo>img{
    width: 200px;
    margin-top: 20px;
    height: auto;
    position: relative;
}

nav.navbar {
    float: right;
    margin-top: 20px;
}

nav.barnav {
    float: right;
    margin-top: 60px;
}

.listabo{
z-index: 2;
position: relative;
}


.imagem > img{
    z-index: 1;
}

.listabo > a{
   text-decoration: none;
   color: black;
   padding: 0px 2px;
}

.listabo > a::before{ /* Botando a bolinha */
    font-family: FontAwesome; 
    font-weight: normal;
    font-style: normal;
    content: '\f111';
    padding-left: 0.2em;
}

.listabo > a:nth-child(1){
    color: black; 
    background-color: transparent;
}


.listabo > a:nth-child(3){
    background-color: #A9C66B;
    color: #fff;
    border-radius: 25px;
    padding: 6px 12px 6px 12px;  
}

.listabo > a:nth-child(3)::before {
    color: transparent;
    display: none;  
}

.listabo>a:nth-child(4)::before {
    color: #b71710;
}

.listabo>a:nth-child(5)::before{
    color: #EFB129;
}

.listabo>a:nth-child(6)::before {
    color: #ED7720;
}

.listabo>a:nth-child(7)::before {
    color: #CF51B8;
}

.listabo>a:nth-child(8)::before {
    color: #6AD882;
}

.saude{
background-color: #A9C66B;
margin:0px 0px 40px 0px;
padding: 40px;
}

.saude > .title{
    font-size: 30px;
    text-align: center;
    color: #ffffff; 
}

.dropbtn { /* Menu de cima */
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background: transparent;
}
  .dropbtn::after { /* Menu de cima */
    font-family: FontAwesome; /* Tenho que chamar a fonte quando for inserir Font Awesome */
    font-weight: normal;
    font-style: normal;
    content: '\f078';
    padding-left: 0.5em;
    
  }

.dropdown { /* Menu superior */
    position: relative;
    display: inline-block;
    
}

.dropdown-content { /* menu superior */
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #fff;
}


.dropdown-content a { /* menu superior */
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1} /* Menu superior */

.dropdown:hover .dropdown-content { /* Menu superior */
    display: block;
}

.dropdown:hover .dropbtn { /* Menu superior */
    background-color:#fff;
}


button.accordion {/* Acorddion */
    background-color: #A9C66B;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 10px 0px 0px 10px;
    
}

button.accordion.active, button.accordion:hover { /* Quando passar o mouse pelo accordion */
    background-color: #ccc;
}


.fa-search:before { /* Botando a barrinha preta */
    content: "\f002";
    color: black;
}


